body {background-color: #ebeef4}
#wrapper {
	width: 600px;
	margin:auto;
}
#username {
	background-color: transparent;
	border: 1px solid black;
}
#left,#right{
	min-height: 300px;
}
#left {
	width:30%;
	float:left;
	background-color: #f0d2d0;
}
#right {
	width:70%;
	float:right;
	background-color: black;
}
#title_online{
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}
#content_online{
	border: 1px solid black;
	border-top: none;
	padding: 5px;
	text-align: center;
}
#clear
{
	clear:both;
}